body {
  color: #fff;
  font-family: Sans-serif;
}

.wrapper {
  display: flex;
}

.heart {
  background: #ef476f;
  border-radius: 5px;
  height: 250px;
  margin: 3em auto;
  width: 250px;
}

.heart svg {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: heartbeat;
  margin: 3em 1em;
  transition: all 0.6s;
}

@keyframes heartbeat {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0.7);
  }
}

.star {
  background: #333;
  border-radius: 5px;
  height: 250px;
  margin: 3em auto;
  width: 250px;
}

.star p {
  color: gold;
  font-size: 0.8em;
  text-align: center;
}

.star svg {
  animation-duration: 6s;
  animation-iteration-count: 3;
  animation-direction: alternate;
  animation-name: movingstar;
  margin: 2em 1em;
  transition: all 1s;
}

.transition-button {
  border: 0;
  background: pink;
  border-radius: 4px;
  box-shadow: 0 5px 0 palevioletred;
  color: #333;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 12px 20px;
  transition: all 0.1s linear;
}
.transition-button:active {
  box-shadow: 0 2px 0 palevioletred;
  transform: translateY(3px);
}

@keyframes movingstar {
  0% {
    transform: rotate(0deg) translate(-5px) rotate(45deg);
  }
  50% {
    transform: rotate(45deg) translate(-25px) rotate(90deg);
  }
  75% {
    transform: rotate(90deg) translate(50px) rotate(135deg);
  }
  100% {
    transform: rotate(130deg) translate(100px) rotate(180deg);
  }
}

/* No animation for better accessibility */
@media (prefers-reduced-motion: reduce) {
  .heart svg,
  .star svg {
    animation: none;
  }
}
